.objetivos{
color: yellow;
display: flex;

font-family: cursive;
text-align: center;
justify-content: center;
margin: 1.25em, 0;

}

.aplicacion-tareas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.tareas-lista-principal{
width: 37.5em;
min-height: 31.25em;
background-color: rgb(26, 24, 24);
padding: 1.5625em;
margin: 0.625em;
justify-content: center;
border-radius: 1.625em;

}

@media (max-width: 500px){
    .objetivos{
    font-size: 1.5625em;

   
 }
}


