
.tarea-lista-contenedor{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;

}

@media (max-width: 300px){
    .tarea-lista-contenedor{
        flex-direction: column;
    }
}