.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input{
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid green;
    outline: none;
}

@media (max-width: 550px){
    .tarea-formulario{
        flex-direction: column;
    }
    .tarea-input{
        flex-direction: column;
    }

}