body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.contenedor-imagen{
  font-weight: 400px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.img-fluid{
  font-weight: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.imagen-principal{

  width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}

.contenedor {
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}

.img-responsive-gym-image{
  position: absolute;    /* posición absolute con respecto al padre */
  bottom: 0;             /* posicionada en la esquina inferior derecha */
  right: 1rem;
}


