.slider-container{
    display: flex;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
}

.slider{
    display: flex;
    cursor: grab;

}
.item{
    height: 40rem;
    max-width: 30rem;
    max-height: 30rem;
    padding: 0.5rem;
}

.item img{
    height: 100% ;
    width: 100%;
    pointer-events: none;
    object-fit:cover;
}

@media (max-width: 550px){
    .slider{
        flex-direction:column;
       
    }
}

